<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Recuperar Contraseña</h1>
    <form method="post" action="{{ url_for('recuperar_contrasena') }}">
        {{ form.csrf_token }}
        <label for="email">Correo Electrónico:</label>
        <input type="email" name="email" id="email" required><br><br>
        <label for="telefono">Número de Teléfono (opcional):</label>
        <input type="tel" name="telefono" id="telefono" pattern="[0-9]{10,15}" placeholder="Ingrese número telefónico"><br><br>
        <button type="submit" class="btn-action btn-smaller">Enviar enlace de recuperación</button>
    </form>
</body>
</html>
